<h1> Vous pouvez éditer votre gossip sur cette page</h1>

<%= form_for @gossip do |gossip| %>
  <p>
    <%= gossip.label :anonymous_author %><br>
    <%= gossip.text_field :anonymous_author %>
  </p>

  <p>
    <%= gossip.label :content %><br>
    <%= gossip.text_area :content %>
  </p>

  <p>
    <%= gossip.submit %>
  </p>
  <%= link_to 'Delete', 
                gossip_path(gossip.id), 
                            method: :delete, 
                            data: { confirm: 'Are you sure?' } %> 
<% end %>